@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    --color-primary: #7B61FF;
    --color-primary-hover: #6A4DFF;
    --color-primary-light: #A78BFA;

    --color-soft-blue: #6EC3F4;
    --color-soft-pink: #F8A5C2;

    --color-bg-main: #FFFFFF;
    --color-bg-soft: #F9FAFB;
    --color-bg-card: #F5F5F7;

    --color-text-heading: #111827;
    --color-text-body: #6B7280;
    --color-text-light: #9CA3AF;
    --color-text-white: #FFFFFF;

    --color-accent-blue: #93C5FD;
    --color-accent-purple: #C4B5FD;
    --color-accent-pink: #FBCFE8;

    --color-border-light: #E5E7EB;
}

.logo-yellowtail {
    font-family: "Yellowtail", cursive;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0;
    font-kerning: normal;
    font-feature-settings: "kern", "liga", "clig", "calt";
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes fadeCover {
    from {
        opacity: 0;
        transform: scale(1.04);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}